@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	background-image: repeating-linear-gradient(90deg, hsla(196,0%,79%,0.06) 0px, hsla(196,0%,79%,0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(196,0%,79%,0.06) 0px, hsla(196,0%,79%,0.06) 1px,transparent 1px, transparent 96px),repeating-linear-gradient(0deg, hsla(196,0%,79%,0.09) 0px, hsla(196,0%,79%,0.09) 1px,transparent 1px, transparent 12px),repeating-linear-gradient(90deg, hsla(196,0%,79%,0.09) 0px, hsla(196,0%,79%,0.09) 1px,transparent 1px, transparent 12px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
}
		

		.container {
			max-width: 600px;
			margin: auto;
			overflow: hidden;
			padding: 0 2rem;  
			text-align: center;
			font-family: "Roboto";
		}
		.score {
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 2rem;
			margin-top: 3rem;
			text-align: center;
			color: #fff;
		}

		.score p:first-child {
			background: rgba(155,85,50,255); 
		}

		.score p:nth-child(2) {
				background:rgba(122,90,75,255); 
			}

		.score p:last-child {
			background: rgba(176,143,119,255); 
		}
		.choices {
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 2em;
			margin-top: 3rem;
			text-align: center;
			transform: translate(20px,0px);
		}

		.restart-btn{
		  background-color: #ddd;
		  border: none;
		  color: black;
		  padding: 16px 32px;
		  text-align: center;
		  font-size: 16px;
		  margin: 4px 2px;
		  transition: 0.3s;
		  font-family: "Roboto";
		}

		.restart-btn:hover {
		  background-color: rgba(122,90,75,255);
		  color: white;
		}
		.choice {
			cursor: pointer;

		}

		.choice:hover{
			box-shadow: 10px 10px 5px grey;
		}		
		.captions {
			max-width: 570px;
			display: grid;
			grid-template-columns: repeat(3,1fr);
			grid-gap: 1em;
			margin-top: 1rem;


		}
		#money {
			grid-gap: 2rem;
			margin-top: 4rem;
			text-align: center;
			color: #fff ;

		}

		#money p {
			background-color: #000;
		}

		

		img {
			border-radius: 50%;
		}

:root{	
--modal-duration: 1s;
}



.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height:100%;
	width: 100%;
	overflow: auto;
	background: rgba(0,0,0,0.5);

}

.modal-content {
	background: #fff;
	text-align: center;
	margin: 10% auto;
	width: 350px;
	border-radius: 10px;
	padding: 3rem;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: modalopen;
	animation-duration: var(--modal-duration);
}


.modal-content h1 {
	margin-bottom: 1rem;
}

.modal-content p {
	font-size: 1.2rem;
	margin-top: 1rem;
}

@keyframes modalopen {
	from {
		opacity: 0;

	}

	to {
		opacity: 1;

	}


}

/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {

}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {

}


@media (max-width:767px){
 img {
   width: 75px; // new width for screen <768px
   height: 75px; // new height for screen <768px
 }
}

